[shtrih]
sn = 000
cashier_num = 10
sysadmin_num = 30
payment_method2 = Банковской картой
payment_method3 = Другой вид оплаты 1
payment_method4 = Другой вид оплаты 2
sys_sernum = 18,1,1,16,Заводской номер ФР
sys_inn = 18,1,2,10,ИНН организации
sys_company = 18,1,7,64,Организация
sys_regnum = 18,1,3,16,Регистрационный номер ФР
sys_fsnum = 18,1,4,16,Заводской номер ФН
sys_ntdate = 20,1,5,32,ФД не переданы с
sys_posadr = 18,1,9,128,Адрес расчетов
sys_ofdurl = 18,1,11,64,Оператор ФД
sys_taxsys = 17,1,5,int,Система налогообложения
devno_req = fsnum[-7:]
receipt_format = 2